/composer.lock
*~
*.bak
Thumbs.db
user_config.php
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
nbproject/

